
*{
    margin: 0px;
    padding: 0px;
    }
    
    #sayfa{
        width: 400px;
        min-height: 620px;
        border-style: solid;
        border-width: 2px;
        border-color: #219ebc;
        margin: auto;
    
    
    }
    /*banner*/
    #banner{
        width: 398px;
        min-height: 100px;
      
        background-color: #cbf3f0;
       
        margin: auto;
      
    
    
    }
    /* logo */
    #logo{
        width: 80px;
        min-height: 75px;
        border-style: none;
        background-color:rgb(232, 237, 237);
        border-width: 1px;
        position:relative;
        top: 10px;
        right:  10px;
        float: right;
        border-radius: 5px;
    }
    #isim{
       font-size: 15px;
        font-weight: bolder;
        float: center;
        position: relative;
        top: 10px;
        right: 70px;
    }
    #isim1{
        font-size: 11px;
    
        font-weight: bolder;
        float: center;
        position: relative;
        top: 20px;
        right: 20px;
       
    }
    /* sosyal medya Ä±konlarÄ± */
    
    #sosyal{
        width: 200px;
        min-height: 40px;
        border-style:none;
        background-color: rgb(232, 237, 237)e;
        border-width: 1px;
        float: left;
        position: relative;
        top: 30px;
        right: 10px;
        
    
    }
    #ikon{
        width: 40px;
        height: 40px ;
        float: left;
        margin-left: 20px;
        border-radius: 5px;
    }
    /* ana menu */
    #anamenu{
        width: 399px;
        min-height: 50px;
      font-size:x-small;
        background-color: white;
     
        margin: auto;
      
    }
    #anamenu ul{
        list-style-type: none;
    }
    #anamenu ul li{
        width:85px;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        border-color: #219ebc;
        background-color: #cbf3f0;
        float: left;
        padding: 3px;
        margin-left: 4px;
        position: relative;
        top: 10px;
        text-align: center;
    
    }
    #anamenu ul a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
      
    }
    #anamenu ul a:link{
        color: #219ebc;
    }
    #anamenu ul a:visited{
        color: azure;
    }
    #anamenu ul a:hover{
        color: rgb(10, 17, 243);
        text-decoration: underline;
        }
    #anamenu ul a:active{
        color: red;
    }
    /* icerik ve yan menu  */
    #icerik{
        width: 291px;
        min-height:400px;
       
        background-color: #cbf3f0;
      
        float: right;
      
    }
    .baslik3{
        text-align: center;
    
    }
    #iletisim #icerik{
        width: 398px;
    }
    #hakkÄ±mda #icerik{
        width: 398px;
    }
    #iletisim #form{
        margin: 50px;
    }
    #sertifika #icerik{
        width: 398px;
    }
    #sertifika #icerik a{
      margin-left: 175px;
    }
    #sertifika h4{
       text-align: center;
      }
    #icerik h2,p{
        font-size: 15px;
        text-align: center;
        margin: auto;
    
    }
    
    .metin{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: black;
    
    }
    .metin1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 9px;
        color: black;
        float: left;
    
    }
    /* yanmenu */
    #yanmenu{
        width: 105px;
        min-height:400px;
       
        background-color:#2ec4b6;
       
        float: right;
    
    }
    
    #bilim{
        width: 35px;
        height: 35px ;
       
        position:relative;
        top: 10px;
        right: 3px;
        bottom: 5px;
        margin-left: 10px;
        border-radius: 5px;
    }
    .baslik4{
        font-size: 20px;
        color: grey;
    }
    /* alt menu  */
    #altmenu{
        width: 398px;
        min-height: 50px;
       
        background-color: white;
       
        float: left;
        text-align: center;
        color: black;
      
    }
    #altmenu a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        font-weight: bolder;
        text-decoration: none;
        
    }
    #altmenu a:hover{
        color: gray ;
        text-decoration: underline;
    
    }
    h3{
        text-align: center;
    }
    
    #certi{
    
        width: 35px;
        height: 35px ;
        float: left;
        position:relative;
        top: 10px;
        right: 2px;
        bottom: 3px;
        margin-left: 10px;
        border-radius: 5px;
    
        
    }
    